<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Higher or Lower</title>
	<link rel="stylesheet" href="indexStyle.css" type="text/css">
</head>

<%- include('header.ejs') %>

<body>
	<div id="outer_container">
		<div id="higher_lower">Higher or Lower Game<br></div>
		<div id="container">
			<strong>How to Play</strong><br>

			In the Higher or Lower Population Game, two images representing different 
			locations will be displayed on the screen. Your task is to guess which 
			of the two has a higher population by clicking on the corresponding image. 
			If you choose correctly, you advance to the next round; if not, the game ends. <br><br>
			
			<hr>
		</div>
		<br> <br>
		<a href="/game">
			<div id="play_button">
				PLAY
			</div>
		</a>
	</div>

<!-- Add animation/ background in css -->
<!-- Add play button middle of page  -->

</body>

</html>
