<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Higher or Lower</title>
	<link rel="stylesheet" href="leaderboardStyle.css" type="text/css">
</head>

<%- include('header.ejs') %>

<body>
	
	<hr>

		<h3>Game Leaderboard</h3>
		<form action="/leaderboard" method="post">

			<input type="submit" id="load_scores" value="Load Scores">
	
		</form>
	<hr>

<!-- Add javascript to display leaderboard/ get information from database -->
<!-- Add animation/ background in css -->

</body>

</html>
